<div class="actions">
    <button (click)="insertNext()">Insert Next</button>
    <button (click)="shallowCloneList()">Shallow clone list</button>
    <button (click)="deepCloneList()">Deep clone List</button>
    <button (click)="changeId()">Change ID</button>
    <button (click)="replaceByElementClone()">Replace element by clone</button>
    <button (click)="reverseList()">Reverse List</button>
    <button (click)="swapObjects()">Swap two objects</button>
    <button (click)="deleteItem()">Delete Item</button>
</div>

<div class="lists">
    <div>
        <h1>$index</h1>

        @for (row of myArray; track $index) {
            <something [myObj]="row" type="$index"></something>
        }
    </div>

    <div>
        <h1>row</h1>

        @for (row of myArray; track row) {
            <something [myObj]="row" type="row"></something>
        }
    </div>

    <div>
        <h1>row.id</h1>

        @for (row of myArray; track row.id) {
            <something [myObj]="row" type="row.id"></something>
        }
    </div>
</div>
